.main-title{
    width: 250px; 
    margin-top: 3%; 
    padding-top: 10px; 
    padding-bottom: 10px;
    border: solid;
    border-color: grey;
    border-width: 5px;
    border-radius: 20px;
}

.close {
    display: none;
}

.review-head-positive{
    background-color: #66FF66;
    border: none;
    border-radius: 5px;
    height: 50px;
    margin-top: 20px;
}
.review-body-positive {
    background-color: #CCFFCC;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.review-head-negative{
    background-color: #FF6666;
    border: none;
    border-radius: 5px;
    height: 50px;
    margin-top: 20px;
}
.review-body-negative {
    background-color: #FF9999;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.not-controll{
    pointer-events: none;
}

#fadeLayer {
    position: absolute;
    top:0px;
    left:0px;

    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.75;
    visibility: hidden;
    z-index: 5;
}

#loading {
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    width: 50%;
    height: 50%;

    background-color:white;
    visibility: hidden;
    z-index: 9998;
}

.spinner {
    position: absolute;
    background-color: tomato;
    height: 50%;
    width: 50%;
}